aws_profile               = "workload-prod"
prod_network_account_id   = "<PROVIDER_ACCOUNT_ID>"
shared_network_account_id = "<SHARED_ACCOUNT_ID>"   # same as provider if single account, or a dedicated shared-network account
vpc_id                    = "vpc-xxxxxxxxxxxxxxxxx"
